.circular--portrait {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.intro__description {
  display: inline;
}

.intro__divider {

}

.intro__header {
  font-size: 80px;
}
